.detalle-main {
  margin: auto;
  background: var(--color-black);
  color: var(--color-white);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.detalle-card {
  display: flex;
  gap: 1rem;
}

.detalle-title {
  font-family: var(--font-title);
}

.detalle-description,
.detalle-data {
  font-family: var(--font-body);
}

.detalle-description {
  max-width: 570px;
  font-size: clamp(18px, 2vw, 24px);
}

.detalle-data {
  display: flex;
  justify-content: space-around;
  font-size: clamp(16px, 2vw, 22px);
  margin: 1rem 0;
  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  padding: 0.5rem 0;
}

.detalle-back {
  font-family: var(--font-title);
  font-size: clamp(18px, 3vw, 24px);
  padding: 0.75rem 2rem;
  background: var(--color-black);
  color: var(--color-white);
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid var(--color-white);
  transition:
    background 0.2s ease,
    transform 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;
}

.detalle-back:hover {
  background: var(--color-green);
  color: var(--color-black);
  border: 1px solid var(--color-green);
  transform: scale(1.05);
}
