body {
  place-items: center;
  grid-template-rows: 1fr;
}

main {
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr;
  width: fit-content;
  margin: 1rem auto;
  padding: 1rem;
  background: var(--color-black);
  border-radius: 1rem;
}

main figure {
  width: clamp(150px, 50%, 300px);
}

main p {
  font-family: var(--font-body);
  font-size: 1.25rem;
  margin: 1rem 0;
  color: var(--color-white);
}

main a {
  font-family: var(--font-body);
  padding: 0.75rem 1.5rem;
  background: var(--color-white);
  font-size: 1rem;
  border-radius: 1.5rem;
  transition: .3s all;
}

main a:hover {
  background: #c2c1c1;
}