.products-section {
  padding: 1.5rem;
}

.products-section h1 {
  margin-bottom: 1rem;
  font-family: var(--font-title);
  font-size: clamp(36px, 5vw, 48px);
  text-align: center;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.filter-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.filter-text {
  font-family: var(--font-title);
  font-size: 1.5rem;
}

.filter-btn {
  font-family: var(--font-title);
  font-size: 1.25rem;
  padding: 0.4rem 1.25rem;
  border: 2px solid var(--color-black);
  border-radius: 2rem;
  color: var(--color-black);
  transition:
    background 0.2s ease,
    color 0.2s ease;
}

.filter-btn:hover,
.filter-btn.active {
  background: var(--color-black);
  color: var(--color-green);
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.filter-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75rem;
}

/* Filtro */

.filter-button {
  background: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-icon-container {
  margin: 0;
  width: 36px;
  height: 36px;
}

.filter-icon {
  width: 100%;
  height: 100%;
}

.filter-button:hover {
  background-color: var(--color-green);
}

.filter-panel {
  display: grid;
  gap: 1rem;
  position: fixed;
  background-color: var(--color-black);
  padding: 1rem;
  color: var(--color-white);
  width: fit-content;
  max-width: 350px;
  border-radius: 0.5rem;
  transform: translateX(-200%);
  transition: transform 0.3s ease;
  z-index: 100;
}

.filter-panel.active {
  transform: translateX(0);
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter-title {
  font-family: var(--font-title);
  font-size: 1.5rem;
}

.filter-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filter-item {
  background: var(--color-white);
  color: var(--color-black);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.filter-item:hover {
  background: var(--color-blue);
  color: var(--color-black);
}

.filter-item-category.active {
  background: var(--color-blue);
  color: var(--color-black);
}
.filter-item-brand.active {
  background: var(--color-blue);
  color: var(--color-black);
}
